.slider {
    position: relative;
}

svg {
    width: 25px;
}

.item {
    height: 1000px;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    top: -70px;
    transition: .5s;
    animation-duration: 1.3s;
    filter: brightness(.5);
}

.slider .list .item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
    animation-duration: 1.3s;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 40%, transparent
    );
}

.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 20%;
    color: white;
}

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 30px;
}

.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}

.slider .list .item .content p:nth-child(3){
    font-size: 30px;
    color: white;
    opacity: 0;
    filter: brightness(1.3);
}

.slider .list .item.active{
    opacity: 1;
    z-index: 10;
    filter: brightness(1.1);
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
}

.arrows {
    z-index: 100;
    top: 220px;
    right: 50px;
    position: absolute;
}

.arrows button svg {
    strokeWidth: 2px;
    stroke: rgb(113, 113, 113);
}

.arrows button{
    background-color: rgba(101, 101, 101, 0.6);
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
}

.arrows button:hover {
    background-color: rgba(186, 185, 185, 0.65);
}

.arrows button:hover svg {
    stroke: rgba(41, 41, 41, 0.65)
}

#prev {
    margin-right: 10px;
}

.thumbnail {
	position: absolute;
	bottom: 50px;
	z-index: 120;
    top: 650px;
	display: flex;
	gap: 10px;
	width: 100%;
	height: 250px;
	padding: 0 50px;
	box-sizing: border-box;
	overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

.thumbnail .item.active {
    filter: brightness(1.5);
}

.thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}

@media screen and (max-width: 689px) {
    .thumbnail{
        justify-content: start;
    }
}